@using ViewComponent.App.Notificacoes
@model IReadOnlyCollection<Notificacao>


@if (Model.Any(x => x.Tipo == TipoNotificacao.Success))
{
    foreach (var item in Model.Where(x => x.Tipo == TipoNotificacao.Success))
    {
        <div style="padding-top: 15px"></div>

        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @item.Mensagem
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}

@if (Model.Any(x => x.Tipo == TipoNotificacao.Info))
{
    foreach (var item in Model.Where(x => x.Tipo == TipoNotificacao.Info))
    {
        <div style="padding-top: 15px"></div>

        <div class="alert alert-info alert-dismissible fade show" role="alert">
            @item.Mensagem
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}

@if (Model.Any(x => x.Tipo == TipoNotificacao.Warning))
{
    foreach (var item in Model.Where(x => x.Tipo == TipoNotificacao.Warning))
    {
        <div style="padding-top: 15px"></div>

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            @item.Mensagem
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}

@if (Model.Any(x => x.Tipo == TipoNotificacao.Error))
{
    foreach (var item in Model.Where(x => x.Tipo == TipoNotificacao.Error))
    {
        <div style="padding-top: 15px"></div>

        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @item.Mensagem
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}