<h1>Demo - View Component</h1>

<vc:Summary></vc:Summary>

<div class="row">
    <div class="col">
        <div class="d-grid">
            <a asp-action="Sucesso" class="btn btn-success">Sucesso</a>
        </div>
    </div>
    <div class="col">
        <div class="d-grid">
            <a asp-action="Info" class="btn btn-info">Info</a>
        </div>
    </div>
    <div class="col">
        <div class="d-grid">
            <a asp-action="Alerta" class="btn btn-warning">Alerta</a>
        </div>
    </div>
    <div class="col">
        <div class="d-grid">
            <a asp-action="Erro" class="btn btn-danger">Erro</a>
        </div>
    </div>
    <div class="col">
        <div class="d-grid">
            <a asp-action="Todas" class="btn btn-secondary">Todas</a>
        </div>
    </div>
</div>

